/* .chatbox{
    position: fixed;
    right: 30px;
    bottom: 0;
    font-size: 80px;
    color: rgb(8, 139, 36);
    cursor: pointer;
    z-index: 1000;
}
.chat-box{
position: fixed;
right: 20%;
bottom: 100%;
width: 400px;
height: 75vh;
background: #ac1005;
z-index: 1000;
transition: all 0.3s ease-out;
transform: scaleY();
} */